* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 50% 1fr;
    grid-template-areas: "header header header"
        " section section section "
        "div1 div2 div3"
}

header {
    grid-area: header;
    background-color: lightblue;
}

section {
    grid-area: section;
    background-color: crimson;
}



.div1 {
    grid-area: div1;
    background-color: green;

}

.div2 {
    grid-area: div2;
    background-color: rgb(136, 151, 0);

}

.div3 {
    grid-area: div3;
    background-color: rgb(68, 0, 156);

}